## .NET
bin/
obj/
*.user
*.userosscache
*.sln.docstates

## IDE
.vs/
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
*.nupkg
**/packages/*

## Personal
appsettings.Development.json
course.md

## OS
.DS_Store
Thumbs.db
